body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #507add;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.perfil-card img.circular{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}


h1{
    color: blue;
    text-align: center;
    margin-bottom: 40px;
}

.perfil-card ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.perfil-card li{
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
.perfil-card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}