body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8f6113;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #a65e26;
    color: #ffffff;
}

.perfil-card {
    background-color: #fff;
    max-width: 600px;
    width: 90%;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(54, 140, 216, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.perfil-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.perfil-card ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px 0 0 0;
}

.perfil-card ul li a {
    text-decoration: none;
    color: #4059a9;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.perfil-card ul li a:hover {
    color: #2d4373;
    text-decoration: none;
    background-color: #e0e7ff;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(222, 137, 63);
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .perfil-card {
        max-width: 90%;
        padding: 20px 15px;
    }

    h1 {
        font-size: 15px;
    }

    .perfil-card ul {
        flex-direction: column;
        gap: 10px;
    }
}